* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tela-total {
    display: flex;
}

.painel-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    width: 80%;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
}

h2 {
    text-align: center;
}

.painel-secundario {
    width: 80%;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.painel-secundario ul {
    list-style: none;
}

input {
    line-height: 20px;
    padding: 5px;
    border-radius: 5px;
}

.painel1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 100px;
}

.painel2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    height: 100px;
}

.painel2 input {
    width: 400px;
}

.painel2 button {
    width: 125px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.debito-credito {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}