.pai {
    width: 100%;
    padding: 20px;
}

h2 {
    text-align: center;
}

.painel {
    width: 80%;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
}

table {
    width: 100%;
    padding: 5px;
}

table th {
    font-weight: bold;
    border: 1px solid black;
    padding: 3px;
}

table td {
    color:blue;
    border-bottom: 1px solid black;
    padding: 3px;
}